.divNavbar {
  text-align: center;
  display: flex;
  background-color: green;
  flex: 0 0 100%; /* Let it fill the entire space horizontally */
  height: 50px;
}

.divMain {
  display: flex;
  background-color: bisque;
  flex: 0 0 100%;
  height: 350px;
}

.divSidebar {
  order: 0;
  background-color: yellow;
  width: 100px;
}

.featureView {
  order: 1;
  background-color: brown;
}
